/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="subbmit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.boutonCategory {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(29, 97, 84);
	border-radius: 60px;
	padding: 9px 20px;
	font-family: "Syne";
	font-size: 1em;
	font-weight: 700;
	color: rgb(29, 97, 84);
	cursor: pointer;
}
.categories {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	margin: 45px 0px;
	}
.boutonCategory .active {
		background-color: rgb(29, 97, 84);
		color: rgb(255, 255, 255);
		}
	
.MotdePasseOublié{
		font-family: work Sans ;
		font-size: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		text-decoration-line:underline;
		color: #3d3d3d;
		margin-left: 165px;
	}
.modal{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10%;
  left: 30%;
  width: 50%;
  height: 40%;
  display: none;

}

.modalVisu{

  background-color: #ffffff;
  width: 583px;
  height: 692px;
  padding: 40px;
  overflow: auto;
  border-radius: 10px;


}

/* .fa-refular{ */
	#deletePicture{
	position: absolute;
	left: 56px;
	top: 9px;
	border: 2px solid #080707;
	border-radius: 2px;
	background: black;
	color: white;
}

 .fa {
	margin-left: 55px;
 }
 a{
	text-decoration: inherit;
    color: inherit;
 }
 .modifier{
    margin-left: 5%;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
 }
 .portfolioLinkModal {
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.modalWrapper span {
	margin-bottom: 32px; 
}
#titleModal{
	font-size: 26px;
  text-align: center;
  margin: 0px;
}
.galleryModal {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 80px 10px 80px;
  padding-bottom: 4px;
  border-bottom: 1px solid #B3B3B3;
}
.galleryModal img {
	width: 75px;
	height: 110px;
}
.galleryModal figcaption {
	font-size: 12px;
}
.galleryModal figure {
	display: flex;
	flex-direction: column;
	position: relative;
}
.icone i {
	font-size: 20px;
	cursor:pointer;
}
#submitAddPicture{
	margin-top: 0px;
    width: 237px;
    height: 36px;
	font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    text-align: center;
    border-radius: 60px;
    cursor: pointer;
}
#submitModal {
	width: 50%;
    margin: auto;
	text-align: center;
}

.close{
	margin-left: 95%;
}
.ajoutProjet{
width: 237px;
height: 36px;
margin-left: 83px;
margin-top: 30px;
bottom: -107px;
border-radius: 60px;	
color: rgb(235, 242, 241);
background-color: rgb(29, 97, 84);
position: relative;
} 
.suppr-gallery{
	color: rgb(209, 19, 19);
	text-align: center;
	margin-left: 210px;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
	visibility: hidden;
}
.fa-sharp{
	color: #B9C5CC;
    margin-bottom: 30px;
	Width:101px;
	Height:76px;
	Top:709px;
	Left:681px;
	font-size: 779%;
}

#photo{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E8F1F6;
    height: 225px;
    margin-top: 20px;
	margin-bottom: 36px;
}
#selectioner{
	/* display: none; */
	margin-left: 181px;
  margin-top: -10px;

}
#labelphoto{
	display: flex;
	width: 35%;
	background-color: #CBD6DC;
	border-radius: 50px;
	height: 36px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: #306685;
	margin-top: 16px;
	margin-bottom: -50px;
	display: none;
	position: relative;
	top: -39px;
}
#customFileButton {
	padding: 10px 15px;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
  }

 #ajoutphoto{
	color: #1D6154;
	width: 35%;
	background-color: #CBD6DC;
	border-radius: 50px;
	height: 36px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: #306685;
}
p {
	color: #444444;
	margin-top: 50px;
}
label{
	font-family: "Work Sans";
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.titlelabe {
	margin: 30px 0 10px 0;
}
#title{
	height: 49px;
	box-shadow: 1px 1px 4px #c5c4c4;
	margin-top: 10px;
	margin-bottom: 34px;
	width: 405px;
	font-size: 1.2em;
	border: none;
}
select {
	background-color: #ffffff;
	width: 420px;
	height: 51px;
	font-size: 20px;
    cursor: pointer;
    width: 100%;
	margin-top: -28px;
	font-size: 1.2em;
	border: none;
	box-shadow: 1px 1px 4px #c5c4c4;
}
.selctcatergory{
	
	margin-top: 55px;
}

.categorielabel{
	margin: 9px -9px 48px 0;
}
#bntvalider {
	font-family: "Syne";
  font-size: 14px;
  font-weight: 700;
  width: 240px;
  height: 40px;
  border-radius: 60px;
  border: none;
  color: #FFF;
  background-color: #A7A7A7;
  margin: auto;
  top: 80px;
  position: relative;
  left: 97px;
}
.fa-solid{
  position: relative;
  top: -41px;
  right: 65px;
  font-size: 24px;
  cursor: pointer;
}
.imagePrevisualise{
	width: 25%;
}

